
.container {
   width: 800px;
   margin-top: 100px;
   margin-left: calc(50%-400px);
}

.left-column {
   width: 40%;
   float: left;
   padding: 40px;
   background-image:url(../img/hill.png);
   color: #fff;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.main-title {
   width: 100%;
   margin-bottom: 250px;
   font-size: 40px;
   font-weight: normal;
}
.bottom-links {
   
}
.bottom-links > .link {
   color: #fff;
}

.right-column {
    width: 60%;
    float: left;
    padding: 60px;
    background-color: #fff;
}
.close {

}





